<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="perfil-cliente"></ion-back-button>
    </ion-buttons>
  <ion-title >Modificar Perfil </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- fab placed to the top end -->
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="AbrirCamara()" >
      <mat-icon>create</mat-icon>
    </ion-fab-button>
  </ion-fab>

  <center>
    <ion-avatar slot="start">
      <img alt=" " [src]="foto" *ngIf="foto" />
    </ion-avatar>
  </center>
 


<ion-card-content>

  <ion-grid style="padding-top: 10px; padding-left: unset; padding-right: unset;">

    <ion-row style="border-bottom: black 1px solid; background-color: #e2e2e2;">
      <ion-col size="10"><ion-input type="text" style="font-size: 15px;" placeholder="Nombre"></ion-input></ion-col>
      <ion-col size="2"><ion-icon style="padding-top: 10px;" name="chevron-forward-outline"></ion-icon></ion-col>
    </ion-row>

    <ion-row style="border-bottom: black 1px solid; background-color: #e2e2e2;">
      <ion-col size="10"><ion-input type="text" style="font-size: 15px;" placeholder="Apellido"></ion-input></ion-col>
      <ion-col size="2"><ion-icon style="padding-top: 10px;" name="chevron-forward-outline"></ion-icon></ion-col>
    </ion-row>


    
  </ion-grid>

  <center>
    <ion-button shape="round" [routerLink]="['/inicio-cliente']">CONFIRMAR</ion-button>
  </center>

</ion-card-content>


</ion-content>