<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="success">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

    <ion-button [routerLink]="['/inicio-cliente']" style="margin-top: 5px;"color="success"expand="full">INICIO</ion-button>

    <ion-button [routerLink]="['/mapa-cliente']" style="margin-top: 15px;"color="success"expand="full">MAPA</ion-button>
    
    <ion-button [routerLink]="['/perfil-cliente']" style="margin-top: 15px;"color="success"expand="full">PERFIL</ion-button>
    
    <ion-button [routerLink]="['/login']" style="margin-top: 300px;"color="danger"expand="full">CERRAR SESIÓN</ion-button>

  </ion-content>
</ion-menu>
<div  class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="success">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title style="color: black;">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
  
  <div style="height: 91%;" id="map"></div>
  <ion-button [routerLink]="['/viajes-disponible']" style="margin-top: 5px;"color="success"expand="full">Viajes Disponibles</ion-button>

  <ion-button  color="success" style="
  margin-top: 10px; 
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fascinate&family=IBM+Plex+Mono:wght@500&family=Inconsolata:wght@200&family=Pacifico&family=Poppins:ital@1&display=swap');
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;" (click)="presentToast()" expand="full" >Ver Coordenadas</ion-button>




</ion-content>
