<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="success">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

    <ion-button [routerLink]="['/inicio-cliente']" style="margin-top: 5px;"color="success"expand="full">INICIO</ion-button>

    <ion-button [routerLink]="['/mapa-cliente']" style="margin-top: 15px;"color="success"expand="full">MAPA</ion-button>
    
    <ion-button [routerLink]="['/perfil-cliente']" style="margin-top: 15px;"color="success"expand="full">PERFIL</ion-button>
    
    <ion-button [routerLink]="['/login']" style="margin-top: 300px;"color="danger"expand="full">CERRAR SESIÓN</ion-button>

  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="success">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title style="color: black;">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-list-header style="background-color: #e2e2e2; font-size: 15px;">
    <ion-label>Opciones</ion-label>
  </ion-list-header>


  <a [routerLink]="['/modificar-cliente']" style="text-decoration: none;" expand="block">
    <ion-item>
      <ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>Modificar Perfil
      </ion-label>
    </ion-item>
  </a>

    <!--
  <a [routerLink]="['/comentario-conductor']" style="text-decoration: none;" expand="block">
    <ion-item>
      <ion-label><ion-icon name="chevron-forward-outline"></ion-icon>Tus Comentarios</ion-label>
    </ion-item>
  </a>-->

  <ion-button [routerLink]="['/login-conductor']" style="margin-top: 150px;
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fascinate&family=IBM+Plex+Mono:wght@500&family=Inconsolata:wght@200&family=Pacifico&family=Poppins:ital@1&display=swap');
  font-family: 'IBM Plex Mono'," fill="clear" expand="block" shape="round" color="danger">
    Cerrar Sesión
  </ion-button>



</ion-content>