
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="success">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

    <ion-button [routerLink]="['/inicio-cliente']" style="margin-top: 5px;"color="success"expand="full">INICIO</ion-button>

    <ion-button [routerLink]="['/mapa-cliente']" style="margin-top: 15px;"color="success"expand="full">MAPA</ion-button>
    
    <ion-button [routerLink]="['/perfil-cliente']" style="margin-top: 15px;"color="success"expand="full">PERFIL</ion-button>
    
    <ion-button [routerLink]="['/login']" style="margin-top: 300px;"color="danger"expand="full">CERRAR SESIÓN</ion-button>

  </ion-content>
</ion-menu>
<div  class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="success">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title style="color: black;">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content>

  <ion-card>
    <img src="./assets/img/MIAUto.jpg">
    <ion-card-header>
      <ion-card-subtitle>MiAuto</ion-card-subtitle>
      <ion-card-title>Para universidades e institutos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Aplicación que permite a los alumnos organizarse a través de la App para que puedan retornar a sus hogares utilizando vehículos de algunos alumnos que si tienen movilización propia.
    </ion-card-content>
  </ion-card>

  <ion-button [routerLink]="['/viajes-disponible']" style="margin-top: 5px;"color="success"expand="full">Viajes Disponibles</ion-button>


  
  </ion-content>